@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aero';
  src: url('../public/fonts/Aero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'AeroFont';
}

:root {
  color: white;
  --background: #171616;
  --normal: #a8a878;
  --fire: #ffa07a;
  --water: #6495ed;
  --grass: #34c759;
  --ice: #66d9ef;
  --electric: #f7dc6f;
  --psychic: #f85a9f;
  --fighting: #c03028;
  --poison: #a040a0;
  --ground: #e0c068;
  --flying: #a890ff;
  --bug: #b8a038;
  --rock: #b8a038;
  --ghost: #705898;
  --steel: #b8b8b8;
  --dragon: #6f35fc;
  --dark: #705848;
  --fairy: #c7c5b8;
  --default: #000000;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.remove-scrollbars {
  scrollbar-width: none;
}

.pattern {
  background-image: url(/public/img/pattern.png);
  background-blend-mode: overlay;
}

.border-inset {
  border-style: inset;
}
.border-outset {
  border-style: outset;
}

.box__line {
  position: absolute;
  background: white;
}
.box__line--top,
.box__line--bottom {
  height: 4px;
  width: 100%;
}
.box__line--top::before,
.box__line--bottom::before,
.box__line--top::after,
.box__line--bottom::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
}
.box__line--top {
  top: -4px;
}
.box__line--top::before {
  left: 0;
  bottom: -4px;
}
.box__line--top::after {
  right: 0;
  bottom: -4px;
}
.box__line--bottom {
  bottom: -4px;
}
.box__line--bottom::before {
  left: 0;
  top: -4px;
}
.box__line--bottom::after {
  right: 0;
  top: -4px;
}
.box__line--left,
.box__line--right {
  width: 4px;
  height: 100%;
}
.box__line--left {
  left: -4px;
}
.box__line--right {
  right: -4px;
}

body {
  perspective: 1000px;
}
