@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aero';
  src: url('../public/fonts/Aero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'AeroFont';
}

:root {
  color: white;
  --background: #171616;
  --normal: #a8a878;
  --fire: #ffa07a;
  --water: #6495ed;
  --grass: #34c759;
  --ice: #66d9ef;
  --electric: #f7dc6f;
  --psychic: #f85a9f;
  --fighting: #c03028;
  --poison: #a040a0;
  --ground: #e0c068;
  --flying: #a890ff;
  --bug: #b8a038;
  --rock: #b8a038;
  --ghost: #705898;
  --steel: #b8b8b8;
  --dragon: #6f35fc;
  --dark: #705848;
  --fairy: #c7c5b8;
  --default: #000000;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.remove-scrollbars {
  scrollbar-width: none;
}

.pattern {
  background-image: url(/public/img/pattern.png);
  background-blend-mode: overlay;
}

.border-inset {
  border-style: inset;
}
.border-outset {
  border-style: outset;
}

.box__line {
  position: absolute;
  background: white;
}
.box__line--top,
.box__line--bottom {
  height: 4px;
  width: 100%;
}
.box__line--top::before,
.box__line--bottom::before,
.box__line--top::after,
.box__line--bottom::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
}
.box__line--top {
  top: -4px;
}
.box__line--top::before {
  left: 0;
  bottom: -4px;
}
.box__line--top::after {
  right: 0;
  bottom: -4px;
}
.box__line--bottom {
  bottom: -4px;
}
.box__line--bottom::before {
  left: 0;
  top: -4px;
}
.box__line--bottom::after {
  right: 0;
  top: -4px;
}
.box__line--left,
.box__line--right {
  width: 4px;
  height: 100%;
}
.box__line--left {
  left: -4px;
}
.box__line--right {
  right: -4px;
}

body {
  perspective: 100000px;
}

/* BOARD DESIGN  */

.board {
  width: 100%;
  box-sizing: content-box;
  height: fit-content;
  border-radius: 16px;
  aspect-ratio: 20/29;
}

.board,
.card,
.wrapper,
.content {
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 20/29;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: all 200ms;
  pointer-events: none;

  transform: translateZ(9px);
}

.wrapper {
  pointer-events: initial;
  display: block;
  position: relative;
  height: 100%;
  transition: all 1200ms ease-out;
  transform-origin: 50% 50%;
}

.content {
  display: block;
  height: 100%;
  transition: all 1200ms;
}

.face {
  transition: transform calc(1200ms * 3 / 4);
  transition-delay: calc(1200ms / 6);
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.front {
  transform: rotateZ(0turn) rotateY(-0.5turn);
  border-width: 1px 0px;
  border-color: black;
  border-style: solid;
}

.back {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4f7705ec-8c49-4eed-a56e-c21f3985254c/dah43cy-a8e121cb-934a-40f6-97c7-fa2d77130dd5.png/v1/fill/w_1024,h_1420/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg_dah43cy-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQyMCIsInBhdGgiOiJcL2ZcLzRmNzcwNWVjLThjNDktNGVlZC1hNTZlLWMyMWYzOTg1MjU0Y1wvZGFoNDNjeS1hOGUxMjFjYi05MzRhLTQwZjYtOTdjNy1mYTJkNzcxMzBkZDUucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9GzaYS7sd8RPY5FlHca09J9ZQZ9D9zI69Ru-BsbkLDA');
  border: 1px solid black;
}

.card.flipped {
  transform: translateZ(9px);
}

.card.flipped .wrapper {
  transform: rotateX(0.5turn);
}

.card.flipped .content {
  transform: rotateX(-0.5turn) rotateY(-0.5turn);
}
